# Python cache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Temp files created by Python
*.py[cod]

# Virtual environment
venv/
env/

# Ignore environment variables and secrets
.env
.streamlit

# Ignore files
temp/
*.xlsx
*.xls
archiv/
chache_bot.py